{{ form_start(form) }}

<div class="muscle-group-contrainer">
    {% set groups = {} %}
    {% for muscleGroup in form.muscleGroups %}
        {% set parentName = muscleGroup.vars.attr['parent']|default(null) %}
        {% if parentName %}
            {% set groups = groups|merge({ (parentName): (groups[parentName]|default([]))|merge([muscleGroup]) }) %}
        {% else %}
            <label>
                {{ form_widget(muscleGroup) }}
                {{ muscleGroup.vars.label }}
            </label>
        {% endif %}
        {# {% if muscleGroup.vars.choices|length > 0 %}
            <div class="muscle-category">
                <label>
                    <input type="checkbox" class="category-checkbox">
                    <strong>{{ muscleGroup.vars.label }}</strong>
                </label>
                <div class="subcategory-container">
                    {% for subMuscle in muscleGroup %}
                        <label>
                            {{ form_widget(subMuscle) }}
                            {{ subMuscle.vars.label}}
                        </label>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <label>
                {{ form_widget(muscleGroup) }}
                {{ muscleGroup.vars.label }}
            </label>
        {% endif %} #}
    {% endfor %}
    {% for category, subMuscles in groups %}
        <div class="muscle-category">
            <label>
                <input type="checkbox" class="category-checkbox">
                <strong>{{ category }}</strong>
            </label>
            <div class="subcategory-container">
                {% for subMuscle in subMuscles %}
                    <label>
                        {{ form_widget(subMuscle) }}
                        {{ subMuscle.vars.label}}
                    </label>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

    {# {{ form_widget(form) }} #}
    {# <button class="btn">{{ button_label|default('Save') }}</button> #}
{{ form_end(form) }}

<script>
document.querySelectorAll(".category-checkbox").forEach(categoryCheckbox => {
    categoryCheckbox.addEventListener("change", function() {
        let subcategories = this.closest(".muscle-category").querySelectorAll(".subcategory-container input");
        subcategories.forEach(input => input.checked = this.checked);
    });

    categoryCheckbox.closest(".muscle-category").querySelector(".subcategory-container").style.display = "none";

    categoryCheckbox.addEventListener("click", function() {
        let container = this.closest(".muscle-category").querySelector(".subcategory-container");
        container.style.display = container.style.display === "none" ? "block" : "none";
    });
});
</script>
