<div class="exercises" id="exercises-list"
    data-prototype="{{ form_widget(form.exercises.vars.prototype)|e('html_attr') }}"
    data-index={{ form.exercises|length }}>
    <h3>Вправи</h3>
    
    {% for exercise in form.exercises %}
        <div class="exercise-item">
            {{ form_row(exercise.exercise) }}
            {{ form_row(exercise.sets) }}
            {{ form_row(exercise.reps) }}
            {{ form_row(exercise.weight) }}
        </div>
    {% endfor %}

    <button type="button" class="add-exercise">Додати вправу</button>

</div>

<script>

    document.querySelector('.add-exercise').addEventListener('click', function() {
        const list = document.getElementById('exercises-list');
        const index = list.dataset.index;
        const prototype = list.dataset.prototype;
        const newItem = prototype.replace(/__name__/g, index);
        list.insertAdjacentHTML('beforeend', newItem);
        list.dataset.index = parseInt(index) + 1;
    });

</script>
