{% extends 'base.html.twig' %}

{% block body %}

    <h1>Нове тренування</h1>
    {{ form_start(form) }}
        {% include 'workout/_form_training_details.html.twig' %}
        {% include 'workout/_form_exercises.html.twig' %}
        {% include 'workout/_form_actions.html.twig' %}
    {{ form_end(form) }}
{{ dump(form.vars.value) }}
{{ dump(form.workoutExercises.vars.value) }}
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const addButton = document.querySelector('.add-exercise');
            const collection = document.getElementById('exercises-list');
            
            if (addButton && collection) {
                addButton.addEventListener('click', function() {
                    const index = collection.dataset.index;
                    const prototype = collection.dataset.prototype;
                    const newItem = prototype.replace(/__name__/g, index);
                    
                    const item = document.createElement('div');
                    item.classList.add('exercise-item', 'mb-3', 'p-3', 'border');
                    item.innerHTML = newItem;
                    
                    const removeButton = document.createElement('button');
                    removeButton.type = 'button';
                    removeButton.className = 'btn btn-danger btn-sm float-end';
                    removeButton.textContent = 'Видалити';
                    removeButton.onclick = function() {
                        item.remove();
                    };
                    
                    item.querySelector('.form-group').append(removeButton);
                    collection.appendChild(item);
                    collection.dataset.index = parseInt(index) + 1;
                });
            }
        });
    </script>
{% endblock %}